      body {
        background: url("https://c2.staticflickr.com/6/5272/5889285031_ee1415ec1c_b.jpg") fixed;
        background-size: cover;
        font-size: large;
        font-family: sans-serif;
      }
      h2 {
        color: #FF8000;
        font: 72px 'Arial Black', sans-serif;
        margin-top: auto;
        margin-bottom: auto;
      }
      h3 {
        color: white;
        margin-top: auto;
        margin-bottom: 25px;
      }
      .small {
        font-size: small;
      }
      .grey {
        color: #D3D3D3;
      }
      #create input[type=text] {
        color: gray;
        font-style: italic;
        padding: 1px 6px 1px 6px;
      }
