      @import url(https://fonts.googleapis.com/css?family=Abel);
      @import url(https://fonts.googleapis.com/css?family=Oswald);
      body {
        background: url("https://c2.staticflickr.com/6/5018/5399099778_16df6a5493_b.jpg") fixed;
        background-size: cover;
/*         background-size: 100% 100%; */
        font-size: large;
	font-family: 'Oswald', sans-serif;
      }
      h2 {
        color: #FF8000;
        font: 72px 'Abel', sans-serif;
        margin-top: auto;
        margin-bottom: auto;
      }
      h3 {
        color: white;
        margin-top: auto;
        margin-bottom: 25px;
      }
      .small {
        font-size: small;
      }
      .grey {
        color: #D3D3D3;
      }
      #create input[type=text] {
        color: gray;
        font-style: italic;
        padding: 1px 6px 1px 6px;
      }
      #output table {
        color: #fff;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
        font-weight: bold;
      }
