@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300);

body {
        font-size: large;
        font-family: Ubuntu,sans-serif;
        font-weight: 400;
        color: white;
        background-color: #2C001E; /* Dark Aubergine */
      }
      h2 {
        color: #DD4814; /* Ubuntu orange */
        font: 72px 'Ubuntu', sans-serif;
        margin-top: auto;
        margin-bottom: auto;
      }
      h3 {
        color: white;
        margin-top: auto;
        margin-bottom: 25px;
        font-weight: 400;
      }
      .small {
        font-size: small;
      }
      .grey {
        color: lightgrey;
      }
      #create input[type=text] {
        color: gray;
        font-style: italic;
        padding: 1px 6px 1px 6px;
      }
      .button{
        color: white;
        background: #DD4814;
        border: none;
        padding: 5px;
        border-radius: 2px;
      }
      .inputbox{
        border:none;
        padding: 5px;
        border-radius: 2px;
      }
